.block {
    color: var(--grey);
    padding: 45px 0 25px;
    background-color: var(--bg-blue-dark);
}

.top {
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 80px;
    justify-content: space-between;
    border-bottom: 1px solid #2D3043;
}

.logo-stack {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.middle {
    display: flex;
    margin-bottom: 60px;
    position: relative;
    justify-content: space-between;
}

.mobile {
    display: none;
    visibility: hidden;
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
}

.scroll {
    top: -25px;
    right: -120px;
    position: absolute;
}

.link {
    color: inherit;
    display: block;
    padding: 14px 0;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &--head {
        font-size: 16px;
        font-weight: 500;
        color: var(--white);
    }
}

.socials {
    margin-top: 3px;
    align-self: flex-start;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-copyright {
    gap: 35px;
    display: flex;
    align-items: center;
}

.link-bottom {
    color: inherit;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (width <= 1400px) {
    .scroll {
        display: none !important;
        visibility: hidden;
    }
}

@media (width <= 1300px) {
    .block {
        padding: 35px 0;
    }

    .top {
        gap: 40px;
        margin-bottom: 35px;
        padding-bottom: 35px;
        flex-direction: column;
    }

    .middle {
        margin-bottom: 40px;
    }

    .nav {
        width: 100%;
        max-width: 580px;
    }

    .socials {
        &--desktop {
            visibility: hidden;
            display: none !important;
        }
    }

    .link {
        line-height: 1.2;
        text-decoration: none;

        &--head {
            padding: 6px 0;
            font-size: 16px;
        }
    }

    .mobile {
        gap: 30px;
        display: flex;
        margin-bottom: 35px;
        visibility: visible;
        padding-bottom: 35px;
        flex-direction: column;
        border-bottom: 1px solid #2D3043;
    }

    .support {
        &--desktop {
            visibility: hidden;
            display: none !important;
        }
    }

    .nav-copyright {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
}
