.block {
    cursor: pointer;
    position: relative;
    transition: 0.3s opacity;

    &:hover {
        opacity: 0.7;
    }

    &:before {
        top: 50%;
        left: 50%;
        opacity: 0;
        z-index: 0;
        content: "";
        width: 160px;
        height: 160px;
        position: absolute;
        pointer-events: none;
        transition: 0.3s all;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX(-50%) translateY(-50%) rotate(0);
        background-image: url("../../../../5_shared/assets/backgrounds/circles.svg");
    }

    &--active {
        &:hover {
            opacity: 1;
        }

        &:before {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
    }

}

.content {
    z-index: 1;
    height: 46px;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 18px;
    position: relative;
    color: var(--white);
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    transition: 0.3s opacity;

    &--active {
        background: linear-gradient(to top right, #4032DC, #221B76);
    }
}

@media (width <= 1300px) {
    .block {

        &:before {
            display: none;
            visibility: hidden;
        }

        &--active {
            &:hover {
                opacity: 1;
            }

            &:before {
                display: none;
                visibility: hidden;
            }
        }

    }

    .content {
        height: 40px;
        font-size: 16px;
        padding: 5px 15px;
        color: #D8D8D866;
        justify-content: center;
        background-color: #1A1838;
        transition: 0.3s opacity;

        &--active {
            color: var(--white);
        }
    }
}
