.block {
    gap: 45px;
    display: flex;
    flex-direction: column;
}

.grid {
    gap: 40px 20px;
}

.pagination {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
