.block {
    gap: 45px;
    display: flex;
    flex-direction: column;
}

.grid {
    gap: 40px 20px;
}

.pagination {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width <= 1300px) {
    .block {
        gap: 30px;
    }

    .grid {
        gap: 30px;
    }

    .cell {
        grid-column: span 2;
    }
}

@media (width <= 680px) {
    .cell {
        grid-column: span 4;
    }
}
