.block {
    position: relative;
    background-color: var(--white);
}

.decor {
    display: block;
    position: absolute;
    background-color: var(--white);

    &--top {

    }

    &--bottom {

    }
}
