.block {
    gap: 65px;
    display: flex;
    flex-direction: column;
}

@media (width <= 1300px) {
    .block {
        gap: 30px;
    }

    .grid {
        gap: 16px;
        display: flex;
        overflow-x: auto;
        visibility: visible;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .cell {
        width: 280px;
        flex-shrink: 0;
    }
}
