.block {
    height: auto;
    display: block;
    min-height: 100%;
    position: relative;

    &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        content: "";
        height: 100%;
        display: block;
        position: absolute;
        background-color: #0D1028CC;
    }
}

.bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    object-position: center;
}

.container {
    z-index: 2;
    height: 100%;
    position: relative;
}

.grid {
    height: 100%;
    //height: 100vh;
    //min-height: 700px;
    //max-height: 900px;
}

.content {
    height: 100%;
    display: flex;
    padding: 140px 0;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: var(--white);
    margin-bottom: 35px;
}

.editor {
    color: #E0E0E0;
    margin-bottom: 50px;
}

.picture {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img {
    display: block;
}

.button-mobile {
    display: none;
    visibility: hidden;
}

@media (width <= 1300px) {
    .column-content {
        grid-column: span 4;
    }

    .column-picture {
        grid-column: span 4;
    }

    .grid {
        height: auto;
    //    //height: 100%;
    //    height: 100vh;
    //    min-height: 700px;
    //    max-height: 900px;
    }
    //
    .content {
        padding: 130px 0 0;
    }

    .title {
        margin-bottom: 35px;
    }

    //.editor {
    //    margin-bottom: 50px;
    //}
    //
    //.picture {
    //    width: 100%;
    //    height: 100%;
    //    display: flex;
    //    align-items: flex-end;
    //    justify-content: center;
    //}
    //
    //.img {
    //    display: block;
    //}

    .button-desktop {
        display: none;
        visibility: hidden;
    }

    .button-mobile {
        left: 50%;
        z-index: 2;
        width: 100%;
        bottom: 35px;
        display: flex;
        max-width: 420px;
        position: absolute;
        visibility: visible;
        transform: translateX(-50%);
    }
}
