.block {
    display: flex;
    height: 650px;
    padding: 100px 0;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: var(--white);
    margin-bottom: 35px;
}

.editor {
    margin-bottom: 70px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (width <= 1300px) {
    .block {
        height: 600px;
    }

    .title {
        margin-bottom: 24px;
    }

    .editor {
        margin-bottom: 40px;
    }
}
