.toolbar {
    height: 92px;
    margin-bottom: 25px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../../5_shared/assets/backgrounds/nav-blur-bg.svg");
}

.nav {
    gap: 50px;
    display: flex;
    padding: 10px 50px;
    align-items: center;
}
