.select {
    width: 100%;
    border: none;
    padding: 0 5px;
    display: flex;
    font-size: 18px;
    min-height: 40px;
    font-weight: 600;
    text-align: left;
    border-radius: 3px;
    font-family: inherit;
    color: var(--bg-blue-dark);
}
