.block {
    & > * {
        margin-bottom: 1.5em;
    }

    & :last-of-type {
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
        font-weight: 700;
    }

    img {
        display: block;
        overflow: hidden;
        border-radius: 20px;
    }

    b, strong {
       font-weight: 700;
    }

    &--regular {
        h1, h2, h3, h4, h5, h6 {
            color: var(--bg-blue-dark);
        }

        b, strong {
            color: var(--bg-blue-dark);
        }
    }
}
