.block {
    gap: 20px;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    border-radius: 32px;
    justify-content: center;

    &--page {
        background-color: #6767FF;
    }

    &--footer {
        background-color: #2D3043;
    }
}

.icon {
    width: 32px;
    height: 32px;

    &--page {
        fill: #2D1CA3;
    }

    &--footer {
        fill: var(--bg-blue-dark);
    }
}
