.title {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 700;

    strong {
        color: var(--violet);
    }
}

@media (width <= 1300px) {
    .title {
        font-size: 40px;
        line-height: 1.1;
    }
}
