.block {
    flex-grow: 1;
    display: flex;
    padding: 60px 0 150px;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #2D3043;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 50px;
}

.button {
    margin: 0 auto;
}

@media (width <= 1300px) {
    .block {
        padding: 80px 0;
    }

    .title {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 18px;
    }

    .img {
        margin-bottom: 70px;
    }
}
