@import "./styles/libs/reset";
@import "./styles/vars/vars";

html {
    font-size: 18px;
    line-height: 1.5;
    color: var(--grey);
    overflow-y: scroll;
    font-family: var(--font-regular);
    background-color: var(--bg-blue-dark);
}
