.block {
    padding: 20px;
    border: 1px solid #E0E0E0;
}

.stack {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.scroll {
    display: none;
    visibility: hidden;
}

@media (width <= 1300px) {
    .scroll {
        gap: 16px;
        display: flex;
        overflow-x: auto;
        visibility: visible;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .cell {
        width: 280px;
        flex-shrink: 0;
    }

    .grid {
        display: none;
        visibility: hidden;
    }

    .block {
        padding: 0;
        border: none;
    }
}
