.block {
    position: relative;
    background-color: var(--white);

    &--top {
        &:after {
            left: 50%;
            z-index: 1;
            content: "";
            width: 100%;
            bottom: 100%;
            display: block;
            position: absolute;
            background-size: contain;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            height: var(--decor-line-size);
            background-position: bottom center;
            background-image: url("../../../5_shared/assets/backgrounds/decor-top.svg");
        }
    }

    &--bottom {
        &:before {
            top: 100%;
            left: 50%;
            z-index: 1;
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            background-size: contain;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            height: var(--decor-line-size);
            background-position: top center;
            background-image: url("../../../5_shared/assets/backgrounds/decor-bottom.svg");
        }
    }
}

@media (width <= 1300px) {
    .block {
        &--top {
            &:after {
                display: none;
                visibility: hidden;
            }
        }

        &--bottom {
            &:before {
                display: none;
                visibility: hidden;
            }
        }
    }
}
