.block {
    padding: 130px 0;
    min-height: 850px;
}

.grid {
    align-items: center;
}

.title {
    margin-bottom: 25px;
    color: var(--bg-blue-dark);
}

.editor {
    margin-bottom: 50px;
}

.button {
    margin-top: 50px;

    &--desktop {

    }

    &--mobile {
        display: none;
        visibility: hidden;
    }
}

.picture {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: absolute;
}

@media (width <= 1300px) {
    .block {
        padding: 100px 0;
        min-height: 100vh;
    }

    .title {
        margin-bottom: 25px;
    }

    .grid {
        gap: 40px;
    }

    .editor {
        margin-bottom: 0;
    }

    .button {
        width: 100%;
        max-width: 420px;
        margin: 40px auto 0;

        &--desktop {
            display: none;
            visibility: hidden;
        }

        &--mobile {
            display: block;
            visibility: visible;
        }

    }

    .picture {
        width: 100%;
        height: auto;
    }

    .image {
        position: static;
    }
}
