.block {
    width: 100%;

    &--light {
        background-color: var(--white);
    }

    &--fixed {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        position: absolute;
    }
}

.main {
    gap: 90px;
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
}

.nav {
    gap: 35px;
    display: flex;
    align-items: center;
}

.link {
    color: inherit;
    font-size: 15px;
    text-decoration: none;
}
