.block {
    width: 100%;

    &--dark {
        color: var(--white);
    }

    &--light {
        background-color: var(--white);
    }

    &--fixed {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        position: absolute;
    }
}

.main {
    gap: 90px;
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
}

.nav {
    gap: 35px;
    display: flex;
    align-items: center;
}

.link {
    color: inherit;
    font-size: 15px;
    text-decoration: none;
}

.menu-mobile {
    display: none;
    visibility: hidden;
}

@media (width <= 1300px) {
    .main {
        gap: 30px;
        padding: 20px 0 0;
    }

    .nav {
        display: none;
        visibility: hidden;
    }

    .button-shop {
        visibility: hidden;
        display: none !important;
    }

    .menu-mobile {
        display: flex;
        visibility: visible;
    }
}
