.block {
    height: 46px;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 18px;
    position: relative;
    color: var(--white);
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    transition: 0.3s opacity;

    &:hover {
        opacity: 0.7;
    }

    &--active {
        background: linear-gradient(to top right, #4032DC, #221B76);

        &:hover {
            opacity: 1;
        }
    }


}
