.block {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 40px;
}

.table {
    width: 100%;
    min-width: 930px;
    //overflow-x: scroll;

    //border-collapse: separate;
}

.th {
    text-align: left;
    padding: 0 8px 15px;

    & > :last-child {
        text-align: center;
    }
}

.tr {
    border-bottom: 1px solid #E0E0E0;

    & > :nth-child(6n + 1) {
        width: 25%;
        padding-left: 0;
    }

    & > :nth-child(6n + 2) {
        width: 15%;
    }

    & > :nth-child(6n + 3) {
        width: 15%;
    }

    & > :nth-child(6n + 4) {
        width: 15%;
    }

    & > :nth-child(6n + 5) {
        width: 15%;
    }

    & > :nth-child(6n) {
        width: 15%;
        padding-right: 0;
    }

}

.td {
    padding: 20px 8px 20px;
    //padding: 20px 0;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--bg-blue-dark);
}

.pagination {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin: 0 auto;
}
