.block {
    gap: 65px;
    display: flex;
    flex-direction: column;
}

@media (width <= 1300px) {
    .block {
        gap: 30px 20px;
    }

    .cell {
        grid-column: span 2;
    }

    .mobile-hidden {
        display: none;
        visibility: hidden;
    }
}

@media (width <= 680px) {
    .cell {
        grid-column: span 4;
    }
}
